<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="num1" value="100"/>
		<add key="num2" value="200"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="StudentDB"
			 connectionString="data source = LAPTOP-KR3SF32I\\SQLEXPRESS; 
            database=Student;
            Integrated security=SSPI"/>
		<add name="OracleDB"
		connectionString="data source = LAPTOP-KR3SF32I\\Oracle;
		database=Student;
		integrated security=SSPI"/>
	</connectionStrings>

	<configSections>
		<section name="mySettings1" type="myProject.Libraries.MySettings1"/>
		<section name="mySettings2" type="myProject.Libraries.MySettings2"/>
	</configSections>
	<mySettings1 key1="name" key2="address"  />
	<mySettings1 key1="rno" key2="pin"  />
</configuration>

